<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="./assets/apple-icon-180x180.png">
  <link href="./assets/favicon.ico" rel="icon">
  
  <title>Title page</title>  

<link href="static/main.3da94fde.css" rel="stylesheet"></head>

<body>

<!-- Add your content of header -->

<header>
  <nav class="navbar navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        
      <nav class="navbar-fullscreen" id="navbar-middle">
        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <ul class="navbar-fullscreen-links">
          <li><a href="./index.html" title="">Home</a></li>
          <li><a href="./project.html" title="">Project</a></li>
          <li><a href="./about.html" title="">About me</a></li>
        </ul>

        <div class="footer-container">
           
          <p><small>Website created by GowthamChandran</a></small></p>
          <p class="footer-share-icons">
               <a href="https://www.instagram.com/gowtham_grandio/" class="fa-icon" title="">
                  <i class="fa fa-instagram" aria-hidden="true"></i>

              </a>

          </p>
                       
        </div>


      </nav> 
    
    </div>
  </nav>
</header>
<div class="section-container content-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="col-md-6">
                    <img src="static/assets/images/Gowtham1.jpg" class="img-responsive" alt="">
                </div>
                <div class="col-md-6">
                    <h1 class="h2">Gowtham Jayachandran</h1>
                    <p>Working as a Programmer in Cognizant technology solution
                  I completed bachelor of science  Information Technology in DR.G.R.Damodaran College of arts and science.
                    Done certification in python and I had working knowledge in database & unix.worked platforms Ubuntu,windows.
                    I'm proficient in Python ,Flask,Django,HTML,CSS and able to adopt with new technology  where involved in development of websites</p>
                    <p> Interested in  Sports, Movies,bike ride </p>
                    <p> lead a throw team as a captain and played zonal tournament under athletic associations and won inter school level competition (2013 - 2014)</p>
                    <p> Participated in Code debug in inter-collegiate meet</p>


                    <ul>
                        <li>
                            <button style="font-size:14px"><a href="https://www.linkedin.com/in/gowtham-chandran-a08291209/">Linkedin</a> <i class="fa fa-linkedin-square"></i></button>

                        </li>
                        <br>
                    <li>
                    <button style="font-size:18px"><a href="https://github.com/Gowthamchandran1997">Github</a><i class="fa fa-github"></i></button>
                    </li>
                    <br>

                    <li>
                    <button style="font-size:18px"> <a href="https://www.facebook.com/gowtham.chandran.1232/">Facebook</a> <i class="fa fa-facebook-f"></i></button>

                        </li>
                        <br>
                        <li>
                      <button style="font-size:24px"> Instagram <a href="https://www.instagram.com/gowtham_grandio/" ></a><i class="fa fa-instagram"></i></button>

                    </li>




    </ul>
                </div>
            </div>
        </div>
    </div>
</div>




<script>
    document.addEventListener("DOMContentLoaded", function (event) {
      navbarToggleSidebar();
      closeMenuBeforeGoingToPage();
      navActivePage();
    });
</script>
 <script type="text/javascript" src="static/main.4c6e144e.js"></script></body>

</html>